:root {
  --primaryColor: #00a2ed;
  --secondaryColor: #1b1818;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tradeForm {
  display: flex;
  justify-content: center;
}

.tradeInput {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  outline: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 2px 5px;
}

.tradeInput:focus {
  border: 2px solid var(--primaryColor);
}

.error {
  color: red;
  font-size: 11px;
}

.tradeBtn {
  width: 312px;
  height: 40px;
  background: var(--primaryColor);
  font-size: 1.5rem;
  border-radius: 5px;
  outline: 0;
  border: 0;
  margin-top: 6px;
  padding: 4px 10px;
  color: #fff;
  font-weight: 500;
}

.tradeBtn:hover, .tradeBtn:focus {
  background: #0391d3;
  cursor: pointer;
}

.transactionLink {
  margin-top: 30px;
  background-color: var(--secondaryColor);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.transactionLink:hover {
  background-color: #0a0909;
  cursor: pointer;
}

.transactionLink a {
  

}























/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}